@use "/src/sass/base/variables.scss" as *;

.header {
    margin-top: 48px;

    // position: relative;

    &__wrapper-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 30px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        // gap: 10px;

        &-img {
            padding-top: 80px;
            max-width: 100%;
            height: auto;
        }
    }

    &__nav {
        width: 545px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        a {

            color: $grey;
            text-decoration: none;

            &:hover {
                color: $black;
                cursor: pointer;
            }
        }
    }

    &__dots {
        // margin: 63px 0 0 -370px;
        position: absolute;
        top: 132px;
        left: -40px;
    }

    &__virtual {
        margin-top: 186px;
        width: 445px;
        height: 338px;

        &-descr {
            margin-bottom: 45px;
            color: $grey;
            font-size: 21px;
            font-weight: 300;
            line-height: 32px;
            text-align: left;
        }
    }

    &__title {
        margin-bottom: 25px;
        color: $black;
        font-size: 48px;
        font-weight: 700;
        line-height: 56px;
        text-align: left;
    }

    &__button {
        width: 200px;
        height: 56px;
        border-radius: 55px;
        border: none;
        background: rgb(69, 143, 246);
        color: rgb(255, 255, 255);
        font-size: 18px;
        font-weight: 700;
        line-height: 52px;
        text-align: center;
        cursor: pointer;

        &:hover {
            background-color: $light;
            color: $light-blue;
            border: 1px solid $light-blue;
        }
    }
}

@media screen and (max-width: 768px) {
    .header {


        &__wrapper {
            display: grid;
            grid-template-columns: 1fr;
        }

        &__dots {
            display: none;
        }

        &__virtual {
            margin-top: 30px;
            margin-bottom: -50px;
        }

        // &__img {
        //     // display: none;
        // }

        &__nav {
            a {
                &:hover {
                    color: $grey;
                }
            }
        }

        &__button {
            &:hover {
                background-color: $light-blue;
                color: $light;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .header {
        &__nav {
            // width: 300px;
            // display: flex;
            // gap: 50px;
            justify-content: space-between;
            width: 550px;
        }

        &__wrapper-nav {
            gap: 30px;
            justify-content: center;
        }

        &__wrapper {
            margin-top: 50px;
            align-items: flex-end;
        }

        &__virtual {
            &-descr {
                font-size: 18px;
            }
        }

        &__title {
            font-size: 30px;
        }

        &__button {
            width: 180px;
            height: 47px;
            line-height: 7px;
        }
    }
}